@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
    font-family: 'Roboto', sans-serif;
}

.shortDesc{
    position: relative;
}

.profile-container{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 10%;
    min-height: fit-content;
    /* background: url(../../../public/darkblue.jpg); */
    background-color: #0a1f3d;
}

.profile-parent {
    display: flex;
    align-items: center;
    color: aliceblue;
}

.profile-detail{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    float: left;
}

.profile-details-name{
    margin-top: 20px;
}

.highlighted-text{
    font-weight: bold;
    color: rgba(255, 68, 0, 0.836);
}

.buttons{
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}

.buttons button{
    background: orangered;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border: 1px solid white;
    color: white;
    width: 130px;
}

.buttons button:hover {
    background: white;
    color: black;
    transition: .7s;
}

.btn1, .btn2{
    margin-right: 10px;
    margin-left: 10px;
}

.profile-picture-background {
    box-shadow: 0 1px 0px 0px white;
    border-radius: 50%;
    height: 380px;
    width: 380px;
    margin: 50px 0px 0 100px;
    background: url('../../../public/profilephoto.JPG');
    background-position: center;
    background-size: cover;

}
